h1 {  
    color: purple;
    margin: auto;
    text-align: center;
font-size: 112px;
  }

  img{  
display: block;
margin: auto;
  }
  nav {
text-align: right;
  }
  html {
      background: yellow;
      
  }